# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment
.env

# Database
*.db

# Logs
logs/

# Storage
storage/images/
storage/videos/

# Python cache
.pytest_cache/
.mypy_cache/